<div id="nav-container">
    <div class="box file"><span>{{.Page.Filename}}</span></div>
    <div class="box title"><span>{{fmtTitle .Action}}</span></div>
    <div class="box nav">
        {{if eq .Page.Filename "/"}}
        <nav>
            <span>&#43;</span>
            <span>[<a href="/new/file">file</a>]</span>
            <span>[<a href="/new/folder">folder</a>]</span>
        </nav>
        {{else if eq .Page.Filename ""}}
        <nav>
        </nav>
        {{else}}
        <nav>
            <span>[<a href="/view/{{.Page.Filename}}">view</a>]</span>
            <span>[<a href="/edit/{{.Page.Filename}}">edit</a>]</span>
        </nav>
        {{end}}
    </div>
</div>