<!DOCTYPE html>
<html>
    {{template "head.html" .}}
    <body>
        {{template "header.html" .}}
        {{template "nav.html" .}}
        <div id="article-container">
            <ul class="directory">
                {{range .Folders}}
                <li class="directory">
                    <a href="/list/{{$.Folder}}{{.}}/">{{.}}</a>
                </li>
                {{end}}
                {{range .Files}}
                <li class="file">
                    <a href="/view/{{$.Folder}}{{.}}">{{.}}</a>
                </li>
                {{end}}
            </ul>
        </div>
    </body>
</html>