<!DOCTYPE html>
<html>
    {{template "head.html" .}}
    <body>
        {{template "header.html" .}}
        {{template "nav.html" .}}
        <form id="article-container" action="/new/{{.Value}}" method="GET">
            {{if not .IsValid}}
            <div class="error-msg">Invalid name, please try again.</div>
            {{end}}
            <div>
                <label for="name">Enter name:</label>
                <input type="text" name="name" />
                <input type="hidden" name="path" value="{{.Path}}" />
            </div>
            <div>
                <input type="submit" value="Create" />
            </div>
        </form>
        {{template "footer.html" .}}
    </body>
</html>