<!DOCTYPE html>
<html>
    {{template "head.html" .}}
    <body>
        {{template "header.html" .}}
        {{template "nav.html" .}}
        <form id="article-container" action="/new/{{.Value}}" method="GET">
            <div>
                <label for="name">Enter name:</label>
                <input type="text" name="name" />
            </div>
            <div>
                <input type="submit" value="Create" />
            </div>
        </form>
        {{template "footer.html" .}}
    </body>
</html>