* {
    box-sizing: border-box;
}

h1, h2, h3 {
    line-height: 1.2em;
}

body {
    margin: 0 auto;
    max-width: 40em;
    font:1.2em/1.62em sans-serif;
}

ul.directory {
    list-style: none;
    padding: 0;
}

li.file::before {
    content: "\1f5b9";
    margin: 0 1em;
}

li.directory::before {
    content: "\1f4c1";
    margin: 0 1em;
}

#header-container {
    width: 100%;
    padding: 0.5em;
}

header {
    font-size: 2em;
    text-align: center;
}

/* "justify-self" see: http://stackoverflow.com/a/33856609 */
#nav-container {
    width: 100%;
    margin-top: 1em;
    padding: 0.25em;
    box-shadow: 0px 4px 4px -5px;

    display: flex;
}

#nav-container .box {
    flex: 1;
    display: flex;
    justify-content: center;
}

#nav-container .file > span {
    margin-right: auto;
}

#nav-container .title > span {
    font-size: 1.2em;
}

#nav-container .nav > nav {
    margin-left: auto;
    display: flex;
}

#article-container {
    width: 100%;
    padding: 0.25em;
    margin-top: 1em;
}

/* Resizable div: http://stackoverflow.com/a/15866077 */
#textarea-body {
    width: 100%;
    height: 40vh;
    resize: vertical;
    font:1em/1.50em serif;
}

#footer-container {
    width: 100%;
    padding: 0.25em;
    margin-top: 1em;
    display: flex;

    box-shadow: 0px -4px 4px -5px;
}

#footer-container footer {
    margin-left: auto;
}