* {
    box-sizing: border-box;
}

h1, h2, h3 {
    line-height: 1.2em;
}

body {
    margin: 0 auto;
    max-width: 40em;
    font:1.2em/1.62em sans-serif;
}

#header-group {
    width: 100%;
    margin: 0 auto;
    padding: 0.5em;
}

header {
    font-size: 2em;
    text-align: center;
}

#nav-group {
    width: 100%;
    margin-top: 1em;
    padding: 0.2em;
    box-shadow: 0px 1px 4px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#nav-title {
    font-size: 1.2em;
    margin-left: auto;
}

nav {
    margin-left: auto;
}

#article-group {
    width: 100%;
    padding: 0.5em;
    margin-top: 1em;
}

/* Resizable div: http://stackoverflow.com/a/15866077 */
#textarea-body {
    width: 100%;
    height: 40vh;
    resize: vertical;
    font:1em/1.50em serif;
}